---
interface Props {
  title?: string;
  body?: string;
  titlePadding?: string;
}

const { title, body, titlePadding } = Astro.props;
---

<>
  {title && <h2 class={`text-xl font-bold m-0 z-20 ${titlePadding || ""}`}>{title}</h2>}
  {body && <p class="m-0 font-light text-base flex flex-col">{body}</p>}
  <slot />
</>
